.card {
    height: 480px;
    width: 300px;
    overflow: hidden;
    background-color: var(--bgColor);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: var(--textColor);
    position: relative;
    margin-bottom: 60px;
}

.profiles {
    width: 100%;
    position: relative;
    height: 230px;
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.profiles:hover .icons {
    opacity: 1 !important;
}

.card > .profiles .icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12px;
    left: 5px;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.3s;
    opacity: 0;
}

.card > .profiles > .icons i {
    color: var(--navColor);
    font-size: 1.5rem;
}
.cardContent {
    padding: 10px 20px 0 20px;
    cursor: default;
}

.cardHeader {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.cardHeader h2 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--textColor);
    text-underline-offset: 2px;
}

.difficulty {
    display: flex;
    flex-direction: column;
}

.difficulty p {
    font-size: 0.6rem;
    color: lightgray;
    margin-left: auto;
}

.projectDesc {
    font-size: 0.7rem;
    margin-top: 30px;
    color: lightgray;
}

.tech {
    position: absolute;
    bottom: 30px;
}

.tech h3 {
    font-size: 0.7rem;
    font-weight: 300;
    cursor: default;
}

.tech p {
    font-size: 0.4rem;
    padding: 2px;
    width: max-content;
    background-color: var(--navColor);
}

.techList {
    cursor: default;
    margin-top: 2px;
    display: flex;
    gap: 10px;
}